/*HEADER/PIC/NAME*/
.container {
  position: relative;
  text-align: center;
  color: white;
  font-family: helvetica;
  font-size: 100px;
}
.container p {
    font-family: helvetica;
    font-size: 30pt;
}

.centered {
  position:absolute;
  top: 50%;
  left: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

h1 {
  font-size: 40pt;
  font-family: helvetica;
  width:100%;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 35pt;
}

.sidebar {
  font-size: 18pt;
  font-family: helvetica;
  padding: 5pt;
  float:left;
  width: 30%;
  line-height: 20pt;
  background-image: url(file:///Users/carolinecerussi/Desktop/Portfolio/IMG/clouds.jpg);
  background-size:cover;
  margin-right: 10pt;
}

.sidebar ol {
  color: orange;
}

.projects p {
  color: rgb(227, 227, 227);
  text-align: left;
  font-size: 18pt;
  line-height: 24pt;
}
.skills {
  padding: 2px;
  color: rgb(241, 241, 241);
  font-size: 18pt;
  text-align: left;
  line-height: 24pt;
}

a {
  color:rgb(251, 96, 57);
  font-family: helvetica;
  font-size: 20pt;
  font-style:bold; 
}
.column {
  text-align: center;
  float:left;
  width: 65%;
  line-height: 20pt;
  background-color: rgba(161, 123, 41, 0.5);
  margin-left: 10pt;
}
.column p {
  font-family:Helvetica;
  font-weight: 200;
  font-size: 20pt;
  color: white;
  padding: 10px;
  line-height: 26pt;
  text-align: center;
  }  
body {
  background-image:url(file:///Users/carolinecerussi/Desktop/Portfolio/IMG/-HJ_Fu5RvOpFSUGDXhHwdy3tVzcw0xujFfjMloE91po.jpg);
  background-size: cover;
}
