.header h1 {
  font-size: 80px;
  font-family: Arial;
  color:navy;
  width: 100%;
  text-align: center;

}

.header img {
  width: 40%;
  margin: 10px;
  text-align:center
}

h1 {
  font-size: 50px;
  width: 100%;
  font-family: Arial;
  color: yellow;
  float: left;
}

p {
  color: aliceblue;
  font-size: 18px;
  font-family: Arial;
  margin: 20%;
}


body {
  background-color: white;
  background-image:linear-gradient(to bottom, darkcyan,darkblue);

}

.list h1 {
  color: yellow;
  font-family:Helvetica;
  font-size: 20px;
  background-color: green;
  border-right: 2px;
  border-color: white;
}