h1 {
  text-align: center;
  font-size: 50px;
  font-family:monospace;
  color:darkcyan;
}

.header {
  text-align: center;
  margin-top: 20px;
}


body {
  background-color: white;
  background-image:linear-gradient(to bottom, darkcyan,darkblue);

}